---
import MetaData from '@/components/atoms/MetaData.astro'

type Languages = 'es' | 'en'

interface Props {
  title: string
  language: Languages
  faviconUrl: string
}

const { title, language, faviconUrl } = Astro.props
---

<html lang={language}>
  <head>
    <MetaData
      faviconUrl={faviconUrl}
      title={title}
    />
  </head>
  <body>
    <slot />
  </body>
</html>
